<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nhs-configuration" type="NHibernate.Search.Cfg.ConfigurationSectionHandler,NHibernate.Search" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CompanyDatabase" connectionString="Server=.\sqlexpress;initial catalog=CompanyDataProvider;Integrated Security=true" />
  </connectionStrings>
  <nhs-configuration xmlns="urn:nhs-configuration-1.0">
    <search-factory>
      <property name="hibernate.search.default.directory_provider">NHibernate.Search.Store.FSDirectoryProvider,NHibernate.Search</property>
      <property name="hibernate.search.default.indexBase">C:\CompanyDataProvider\Indexes</property>
      <property name="hibernate.search.default.refresh">5</property>
    </search-factory>
  </nhs-configuration>
  <system.web>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
</configuration>
