<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nhs-configuration" type="NHibernate.Search.Cfg.ConfigurationSectionHandler,NHibernate.Search" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="CompanyDatabase" connectionString="Server=.\sqlexpress;initial catalog=CompanyDataProvider;Integrated Security=true"/>
  </connectionStrings>
  <nhs-configuration xmlns="urn:nhs-configuration-1.0">
    <search-factory>
      <property name="hibernate.search.default.directory_provider">NHibernate.Search.Store.FSDirectoryProvider,NHibernate.Search</property>
      <property name="hibernate.search.default.indexBase">C:\SuperSchnell\Indexes</property>
      <property name="hibernate.search.default.locking_strategy">native</property>
      <property name="hibernate.search.default.optimizer.transaction_limit.max">30</property>
      <property name="hibernate.search.default.optimizer.operation_limit.max">100</property>
    </search-factory>
  </nhs-configuration>
</configuration>